<div class="container">
  <div class="col">
    <img class="logo" src="/favicon.ico">
    <p class="mail">camp&commat;gmail.com</p>
    <div class="social">
      <a href=""><img src="/favicon.ico"></a>
      <a href=""><img src="/favicon.ico"></a>
      <a href=""><img src="/favicon.ico"></a>
    </div>
  </div>
  <div class="col">
    <a href="">Main</a>
    <a href="">news</a>
    <a href="">Students</a>
    <a href="">Universities</a>
    <a href="">Jobs</a>
    <a href="">Proforientation</a>
    <a href="">Telegram bot</a>
    <a href="">Mobile app</a>
  </div>
</div>

