*{
  margin:0;
  padding:0;
}

.pers-news{
  margin-top: 12vh;
  height: 50vh;
  min-height: 200px;
}

.news-main{
  margin-top: 5vh;
}

.more-news{
  margin-top: 10vh;
}

.container{
  justify-content: center;
  justify-items: center;
  margin: 2vh 10vw 0 10vw;
  height: 100vh;
}

.ending-bar {
  margin: 7vh 0;
}


