*{
  margin: 0;
  padding: 0;
}




.map{
  margin-top: 20vh;
}

.container{
  justify-content: center;
  justify-items: center;
  margin: 2vh 10vw 0 10vw;
  height: 100000px;
}

.partners{
  margin-top: 10vh;
}

.slider{
  margin-top: 10vh;
}

.about{
  margin-top: 10vh;
}

.slogan{
  margin-top: 10vh;
}

.info{
  margin-top: 10vh;
}
