.page-container {
  margin: 1rem 15vw !important;
  min-height: 100vh;
}

app-info {
  justify-content: center;
  display: flex;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

app-nav {
  display: flex;
  margin-bottom: 4rem;
}
