<h1>Powerful tool for <br> students</h1>
  <p>
    CampusCompass is more than just a university <br>
    search
  </p>
  <!-- <div class="slider">

  </div> -->


  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div>
          <div class="card">
            <div class="img-conteiner">
              <img src="carousel/vasily-koloda-university.png" class="d-block w-100" alt="...">
            </div>
            <span><a href="#">Find university</a></span>
          </div>
          <div class="card">
            <div class="img-conteiner">
              <img src="carousel/andrew-neel-young-woman-pc.png" class="d-block w-100" alt="...">
            </div>
            <span><a href="#">Find job</a></span>
          </div>
          <div class="card">
            <div class="img-conteiner">
              <img src="carousel/andrew-neel-cup.png" class="d-block" alt="...">
            </div>
            <span><a href="#">Proforientation</a></span>
          </div>
        </div>
      </div>
        <div class="carousel-item">
          <div>
          <div class="card">
            <div class="img-conteiner">
              <img src="carousel/pexels-cottonbro-students.png" class="d-block w-100" alt="...">
            </div>
            <span><a href="#">Students</a></span>
          </div>
          <div class="card">
            <div class="img-conteiner">
              <img src="carousel/pexels-cottonbro-news.png" class="d-block w-100" alt="...">
            </div>
            <span><a href="#">News</a></span>
          </div>
          <div class="card">
            <div>

            </div>
          </div>
          </div>
        </div>
        </div>
      
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"><a href="#"></a></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>