header {
  background: var(--dark-green);
  height: 6vh;
  width: 100%;
  border-radius: 12px;
  padding: 7px ;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: var(--light-green);
}
.logo {
  height: 100%;

}
.logo img{
  height: 100%;
  width: auto;
}
.nav-list{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav-list a{
  text-decoration: none;
  color: var(--light-green);


}
.links{
  width: 50%;

}

.nav-list1 li{
  height: 100%;
}
.nav-list1{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.buttons{
  width: 19%;
}
.profile-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #76a89f;
  border: none;
  border-radius: 12px;
  color: var(--light-green);

  cursor: pointer;
  transition: background-color 0.3s;
  height: 100%;
  font-size: 20px;
}

.profile-button p {
  margin: 0;
  font-size: 20px;
}

.profile-button span {
  display: flex;
  align-items: center;
}

.profile-button svg {
  margin-left: 10px;
  width: 26px;
  height: 26px;
  fill: none;
  stroke:var(--light-green);
}
.lang-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1/1;
  width: auto;
  background: none;
  color: var(--light-green);
  font-size: 20px;
  border: 1px solid var(--light-green);
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 200;
}

.mode-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  height: 100%;
  background: none;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid var(--light-green);
  border-radius: 12px;

}
.mode-switch svg{
  height: 60%;
  width: 60%;
}
.active-link{
  font-weight: 800 !important;
}
