@import 'quill/dist/quill.snow.css';

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--light-yellow);
}

@font-face {
  font-family: 'Tamil MN';
  src: url('/fonts/tamil-mn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  background: var(--dark-green);
  margin: 1vh 0 1vh 0;
}

#det-news-text {
  li{
    margin-left: 2rem;
  }

  p, h1 {
    margin: 15px 0;
  }
}

:root {
  --dark-green: #043a0e;
  --light-green: #dddcca;
  --light-yellow: #dddcca;
}
