*{
  margin: 0;
  padding: 0;
}

body {
  background: var(--light-yellow);
}

@font-face {
  font-family: 'Tamil MN';
  src: url('/fonts/tamil-mn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

hr{
  border: none;
  height: 1px;
  width: 100%;
  background: var(--dark-green);
  margin: 1vh 0 1vh 0;
}

:root {
  --dark-green: #043A0E;
  --light-green: #DDDCCA;
  --light-yellow: #DDDCCA;
}

