<p>More news</p>
<hr>
<div class="news-block">
  <div class="one-news">
    <h2>Title of article</h2>
    <p>Theme</p>
    <p>Date</p>
  </div>
  <div class="one-news">
    <h2>Title of article</h2>
    <p>Theme</p>
    <p>Date</p>
  </div>
  <div class="one-news">
    <h2>Title of article</h2>
    <p>Theme</p>
    <p>Date</p>
  </div>
  <div class="one-news">
    <h2>Title of article</h2>
    <p>Theme</p>
    <p>Date</p>
  </div>
  <div class="one-news">
    <h2>Title of article</h2>
    <p>Theme</p>
    <p>Date</p>
  </div>
</div>

<div class="news-updates">
  <button class="upd-btn">News on our updates</button>
</div>
