.one-news{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

hr{
  border: none;
  height: 1px;
  background: black;
}

.news-updates{
  margin-top: 5vh;
  background: gray;
  height: 40vh;
  border-radius: 10px;
}

.upd-btn{
  position: relative;
  top: 50%;
  left: 70%;
}
